<h2>Create List</h2>

<form action="/lists" method="post">
    <label>List Title:</label>
    <input type="text" name="title">
    <br>
    <label>List Type:</label>
    <input type="text" name="type">
    <br><br>
    <input type="submit">
</form>
